<div class="container mt-5">
    <h1 align="center">Adicionar Categoria</h1>
    <div class="card mt-3">
        <div class="card-body">
            <form action="/adicionar" method="post"> 
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control"> <br>
                <button type="submit" class="btn btn-success">Adicionar</button>
            </form>
            
        </div>
    </div>
</div>